.hardware_status_indicator_on{
color: Green;
}

.hardware_status_indicator_off{
color: LightGray;
}

.hardware_status_indicator_error{
color: Tomato;
}

.hardware_status_indicator_unknown{
color: Orange;
}



.hardware_control_on{
background-color: Green;
}

.hardware_control_off{
background-color: LightGray;
}

.hardware_control_container {
display: flex;

}



#garageDoorStatus, #closerBtn{
    display:inline-block;
    text-align: center;
    vertical-align:middle;
    border-radius: .75em;
    padding: 1em;
}
