{% extends "baseTemplate.html" %}
{% import "components.html" as comp %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='component_styles.css') }}">
    <h1>Hello, {{ user.username }}!</h1>
    <div class="control_container">
    <div>
    {% if (monitors["garage_door"].controls["is_open"].IsOn() == True and monitors["garage_door"].controls["is_closed"].IsOn() == True) %}
        {% set garageDoorState="error" %}
        {% set garageDoorLabel="Error: Both limit switches are ON." %}
	{% set debug = True %}
    {% elif (monitors["garage_door"].controls["is_open"].IsOn() == False and monitors["garage_door"].controls["is_open"].IsOn() == False) %}
        {% set garageDoorState="unknown" %}
        {% set garageDoorLabel="Garage door is partially open" %}
    {% elif monitors["garage_door"].controls["is_closed"].IsOn() == True %}
        {% set garageDoorState="on" %}
        {% set garageDoorLabel="Garage door is closed" %}
    {% elif monitors["garage_door"].controls["is_open"].IsOn() == True %}
        {% set garageDoorState="off" %}
        {% set garageDoorLabel="Garage door is open" %}
    {% else %}
        <div>Something went serious wrong. This should NEVER get hit.</div>
    {% endif %}
    {{ comp.hardware_status_indicator(id="garageDoorStatus", state=garageDoorState, label=garageDoorLabel) }}
    </div>
    <div>
        {{ comp.hardware_control(id="closerBtn", action="push_closer_button()", state="off", label="Push to Activate!") }}
    </div>
    </div> <!-- control_container -->

    <!-- Debug Info -->
    {% if debug == True %}
        <div>garage_door.is_open = {{ monitors["garage_door"].controls["is_open"].IsOn() }}</div>
        <div>garage_door.is_closed = {{ monitors["garage_door"].controls["is_closed"].IsOn() }}</div>        
        <div>garage_door.opener_switch = {{ monitors["garage_door"].controls["opener_switch"].IsOn() }}</div>
    {% endif %}

    <button name="powerBtn" onclick="push_power_button()">Power Off</button>
{% endblock %}
