{% extends "baseTemplate.html" %}

{% block content %}
    <h1>Log in</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            <div>{{ form.username.label -}}</div><div>{{- form.username(size=32) }}</div>
        </div>
        <div>
            <div>{{ form.password.label -}}</div><div>{{- form.password(size=32) }}</div>
        </div>
        <div>
            <label for="rememberMe"><div id="rememberMe">{{ form.remember_me() }} </div><div>{{ form.remember_me.label }}</div></label>
        </div>
        <div>{{ form.submit() }}</div>
    <form>
{% endblock %}
